<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/airdatepicker/air_datepicker.css">
    <link rel="stylesheet" href="/cosmoStyle.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/loader.css">
    <link rel="stylesheet" href="/animation.css">
</head>

<body class="body">

<!--Loader-->
<div class="loader">
    <div class="loader_inner"></div>
</div>

<!--Заголовок-->
<div class="fixedblock widgetBetween">
    <a style="color: white" href="/home"><H3 class="font-80 header transition"><img class="home" srcset="/images/return-arrow.svg"></H3></a>
    <H3 class="font-80 header">Записи</H3>
    <a style="color: white" href="/home"><H3 class="font-80 header transition"><img class="home" srcset="/images/home.svg"></H3></a>
</div>

<!--Аналитика-->
<!--<div class="homeInvertBlock" style="margin-top: 2vh;">-->
<!--    <div class="widgetRow" style="height: 350px;">-->
<!--    </div>-->
<!--</div>-->

<!--Календарь-->
<div id="calendar">
    <div class="fill"></div>
</div>

<!--Кнопка Новая запись-->
<div id="nnb" class="widgetRow calcelementul slide-in-bck-center">
    <button type="submit" class="buttonform fonts homeInvertButton newNoteButton"
            onclick="getTimeForNote()">
        Добавить запись
    </button>
</div>

<!--Место для  времени-->
<div id="timePlace">
    <div id="timeFill"></div>
</div>

<!--Место для записей-->
<div id="notesPlace">
    <div id="fill"></div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="/airdatepicker/air-datepicker.js"></script>
<script type="text/javascript" src="/buttom/buttom.js"></script>
<script type="text/javascript" src="fastclick.js"></script>
<script type="text/javascript" src="/loader/loader.js"></script>
<script>

    let timeList = ["07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", "16:00", "16:30", "17:00", "17:30", "18:00", "18:30", "19:00", "19:30", "20:00", "20:30", "21:00", "21:30", "22:00", "22:30", "23:00", "23:30"];

    var responseBody;
    var isDaySelected = false;
    var jsDay;
    var timeButtonProcessing = false;
    var selectDate = null;
    var param;

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/newnote/currentday',
            dataType: 'json',
            success: function (currentday) {
                responseBody = currentday;
                if (location.search.length != 0) {
                    param = location.search.split('?')[1]
                } else {
                    var d = new Date
                    var dToString = d.toISOString().split('-')
                    param = dToString[0] + '-' + dToString[1] + '-' + dToString[2].split('T')[0]
                }
                getAllNotesOfDay(responseBody, param)
                // hideNewNoteButton(date)

                new AirDatepicker('#calendar', {
                    inline: true,
                    classes: 'airdateclicker',
                    // isMobile: true,
                    // autoClose: true,
                    dateFormat: 'yyyy-MM-dd',
                    onRenderCell({date, cellType}) {
                        if (cellType === 'day') {
                            var dd = parseDate(date);


                            if (responseBody.filter(function (item) {
                                return item.date === dd;
                            })[0] !== undefined) {

                                var v = responseBody.filter(item => item.date === dd)[0]
                                console.log("Записи совпадают")
                                console.log(v.date)
                                console.log(dd)

                                var progress = ""
                                v.operationNotes.forEach(function () {
                                    progress = progress + "."
                                })
                                var p
                                if (dd.split("-")[2].length === 2) p = "<p style=\"margin: -2.5vmin\">" + dd.split("-")[2] + "</p>\n"
                                if (dd.split("-")[2] < 10) p = "<p style=\"margin: -2.5vmin\">" + dd.split("-")[2].slice(1) + "</p>\n"

                                return {
                                    html: "<svg class='progressbar' viewBox=\"0 0 100 100\" width=\"100\" height=\"100\">\n" +
                                        "  <defs>\n" +
                                        "    <path id=\"circle\"\n" +
                                        "      d=\"\n" +
                                        "        M 50, 50\n" +
                                        "        m -37, 0\n" +
                                        "        a 37,37 0 1,1 74,0\n" +
                                        "        a 37,37 0 1,1 -74,0\"/>\n" +
                                        "  </defs>\n" +
                                        "  <text font-size=\"130\">\n" +
                                        "    <textPath xlink:href=\"#circle\">" + progress + "</textPath>\n" + p +
                                        "  </text>\n" +
                                        "</svg>",
                                    disabled: false,
                                    classes: 'isNoteOne',
                                    attrs: {
                                        title: 'Cell is disabled'
                                    }
                                }
                            }

                            // if (calendarData.filter(item => item === dd).length > 3 && calendarData.filter(item => item === dd).length < 7) {
                            //     return {
                            //         html: "<div class='widgetRow'><p style='margin-top: 0.7em;'>" + date.getDate() + "</p><div><div class='widgetRow'>" + getCircles(3) + "</div><div class='widgetRow'>" + getCircles(calendarData.filter(item => item === dd).length - 3) + "</div></div>",
                            //         disabled: false,
                            //         classes: 'isNoteOne',
                            //         attrs: {
                            //             title: 'Cell is disabled'
                            //         }
                            //     }
                            // }
                            // if (calendarData.filter(item => item === dd).length > 6) {
                            //     return {
                            //         html: "<div class='widgetRow'><p style='margin-top: 0.7em;'>" + date.getDate() + "</p><div><div class='bigCircle'><p class='textIntoCircle'>" + calendarData.filter(item => item === dd).length + "</p></div></div>",
                            //         disabled: false,
                            //         classes: 'isNoteOne',
                            //         attrs: {
                            //             title: 'Cell is disabled'
                            //         }
                            //     }
                            // }
                        }
                    },
                    // selectedDates: [param],
                    // startDate: param,
                    onSelect({date}) {

                        hideNewNoteButton(date)

                        if (document.getElementById('timeFill')) {
                            removeElementById("timeFill");
                        }

                        selectDate = parseDate(date)
                        jsDay = selectDate;

                        removeElementById("fill");
                        getAllNotesOfDay(responseBody, selectDate);

                        // document.getElementById("fill").remove()
                        // getNotesOfCurrentDay(selectDate);
                    }
                });
            }
        });
    })

    function hideNewNoteButton(date) {
        var button = document.getElementById("nnb")
        var today = new Date()


        if (today - date > 86400000) {
            document.getElementById("nnb").style = "display: none"

            // if (button.className !== "bounce-leave-active widgetRow calcelementul"){
            //     button.className = "bounce-leave-active widgetRow calcelementul"
            // }
            // setTimeout(function () {
            //     document.getElementById("nnb").style = "display: none"
            // //     console.log("привет 1")
            // }, 500)
        }

        if (isNaN(today - date)) {
            document.getElementById("nnb").style = "display: none"
        }

        if (today - date <= 86400000) {
            document.getElementById("nnb").style = "display: flex"
        }
    }

    $("a.transition").click(function (event) {
        event.preventDefault();
        linkLocation = this.href;
        $("body").hide().fadeOut(500, redirectPage);
    });

    function redirectPage() {
        window.location = linkLocation;
    }

    function removeElementById(id) {
        document.getElementById(id).remove();
    }

    function parseDate(date) {
        var myDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
        massiveDate = String(myDate).split("-");

        var mounth;
        var dayNumber;

        if (massiveDate[1].length === 1) {
            mounth = "0" + massiveDate[1]
        } else {
            mounth = massiveDate[1]
        }

        if (massiveDate[2].length === 1) {
            dayNumber = "0" + massiveDate[2]
        } else {
            dayNumber = massiveDate[2]
        }

        return massiveDate[0] + "-" + mounth + "-" + dayNumber;
    }

    function getAllNotesOfDay(response, select) {
        var myDate;
        var notesPlace = document.getElementById("notesPlace");

        response.forEach((day) => {
            if (day.date === select) {
                isDaySelected = true;
                myDate = day.date;
            }
        })

        if (isDaySelected === true) {

            var filler = document.createElement('div');
            filler.id = "fill";

            response.filter(function (item) {
                return item.date === myDate;
            })[0].operationNotes.forEach((note) => {
                createOneNote(note, filler);
            })

            notesPlace.prepend(filler);

            isDaySelected = false;
        } else {
            var filler = document.createElement('div');
            filler.id = "fill";

            var row = document.createElement('div');
            row.className = "widgetCenter";

            var p = document.createElement('p');
            p.className = "dateTime fonts";

            p.innerHTML = "На " + select + " записей не запланировано";

            row.prepend(p);
            filler.prepend(row);
            notesPlace.prepend(filler);
        }
    }


    function createOneNote(info, prepear) {

        var note = document.createElement('ul');
        note.className = "calcelementul topmenu";

        var li = document.createElement('li');
        li.style = 'width: 100%'


        var menu = document.createElement('ul');
        menu.innerHTML = '<ul class="submenu widgetRowEvently">\n' +
            '                <li><button onclick="deleteOpeartion(' + info.id + ')" class="operationOptions"><img class="buttonSubMenu" src="images/iconfinder-trash.png"></button></li>\n' +
            '                <li><button onclick="getClientRequest(' + info.clientId + ')" class="operationOptions"><img class="buttonSubMenu" src="images/female.png"></button></li>\n' +
            '            </ul>'

        var header = document.createElement('div');
        header.className = "widgetRow";

        var datePlace = document.createElement('div');
        datePlace.className = 'dateBlock'

        var infoPlace = document.createElement('button');
        infoPlace.style = 'width: 53%;'
        infoPlace.className = 'operationOptions'

        var time = document.createElement('p');
        time.className = "dateTime newNoteFonts fontXxxLarge fonts";
        time.innerHTML = info.time;

        var date = document.createElement('p');
        date.className = "dateTime newNoteFonts fontXxxLarge fonts";
        date.style = 'color: #a9a9a9'
        date.innerHTML = getParseDate(info.day);

        var name = document.createElement('p');
        name.className = "blockV3 fontXxxLarge fonts";
        name.innerHTML = info.name;

        var medicamentJs = document.createElement('p');
        medicamentJs.className = "blockV3 niceFont fontXxLarge fonts";
        medicamentJs.innerHTML = info.medicament;

        var summuryJs = document.createElement('p');
        summuryJs.className = "blockV3 niceFont fontXxLarge fonts";
        summuryJs.innerHTML = info.summury + " ₽";

        datePlace.prepend(date, time)
        infoPlace.prepend(name, medicamentJs, summuryJs)
        header.prepend(datePlace, infoPlace);

        li.prepend(header, menu)
        // secondText.prepend(clientNameJs, medicamentJs);
        // thirdText.prepend(summuryJs);

        note.prepend(li);
        prepear.prepend(note);
    }

    function getParseDate(date) {
        var arr = [
            'Янв.',
            'Фев.',
            'Мар.',
            'Апр.',
            'Мая',
            'Июн.',
            'Июл.',
            'Авг.',
            'Сен.',
            'Окт.',
            'Ноя.',
            'Дек.'
        ];

        var d = date.split('T')[0]
        var day = d.split('-')[2]
        var mouth = arr[d.split('-')[1] - 1]
        return day + ' ' + mouth
    }


    function getClientRequest(clientId) {
        $.ajax({
            type: 'GET',
            url: '/client_info?id=' + clientId,
            dataType: 'json',
            data: clientId
        });
        window.location.href = "/client_info?id=" + clientId;
    }

    function deleteOpeartion(id) {
        if (confirm('Удалить запись?')) {
            $.ajax({
                type: 'POST',
                url: '/delete_operation',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({id}),
                success: function (delete_operation) {
                    alert(delete_operation.request)
                }
            });
            location.reload()
        } else {
            // Do nothing!
        }
    }

    function getTimeForNote() {
        if (document.getElementById('timeFill')) {
            removeElementById("timeFill");
        }


        if (selectDate === null) {
            selectDateAlertMessege();
            return;
        }
        ;

        var timePlace = document.getElementById("timePlace");
        var timeFiller = document.createElement('div');
        timeFiller.id = "timeFill";
        timePlace.prepend(timeFiller);

        timeList.slice().reverse().forEach((time) => {
            var timeCoincidence = false;
            var backgroundColor;
            var textColor;

            if (responseBody.filter(function (item) {
                return item.date === jsDay;
            })[0] != null) {
                responseBody.filter(function (item) {
                    return item.date === jsDay;
                })[0].operationNotes.forEach((operation) => {
                    if (time === operation.time) {
                        timeCoincidence = true
                    }
                })

                if (timeCoincidence === true) {
                    backgroundColor = "#f9f9f9";
                    textColor = "#b2b2b2";
                    timeCoincidence = false;
                } else {
                    textColor = "white"
                    backgroundColor = "#524f4e"
                }
                timeButtonProcessing = false;
            } else {
                textColor = "white"
                backgroundColor = "#524f4e"
            }
            createTimeButton(time, timeFiller, backgroundColor, textColor);


        })
    }

    function createTimeButton(time, prepear, backgroundColor, textColor) {


        var timeForm = document.createElement('form')

        var timeInput = document.createElement('input')
        var dateInput = document.createElement('input')

        var timeButton = document.createElement('button');

        timeButton.className = 'timebuttonform fontXxLarge fonts';
        timeButton.style = "background-color: " + backgroundColor + "; color: " + textColor;
        timeButton.innerHTML = time;

        timeForm.className = "timeForm";

        if (backgroundColor != "#f9f9f9") {
            timeButton.type = "submit";
            timeForm.action = "/newnote/create/select-client?date=" + selectDate + "&time=" + time;
            timeForm.method = "GET";
        } else {
            timeButton.type = "button";
        }


        timeInput.value = time;
        timeInput.type = "hidden";
        timeInput.name = "time";

        dateInput.value = selectDate;
        dateInput.type = "hidden";
        dateInput.name = "date";

        timeForm.prepend(timeInput, dateInput, timeButton);
        prepear.prepend(timeForm);
    }

    function selectDateAlertMessege() {
        alert("Сначала выберите дату записи")
    }

</script>

</html>