<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/airdatepicker/air_datepicker.css">
    <link rel="stylesheet" href="/cosmoStyle.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/loader.css">
</head>
<body class="body">

<!--Loader-->
<div class="loader">
    <div class="loader_inner"></div>
</div>

<!--Настройки пользователя-->
<form th:action="@{/logout}" method="post">
    <ul class="flexname gorisontalcolumn-akk font-20 nicecolor margin-top-40">
        <li>
            <h1 class="margin-0" th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
        </li>
        <li>
            <button class="a_buttonform-3 padding-15 font-size-20" type="submit">Выйти из аккаунта</button>
        </li>
    </ul>
</form>

<!--Данные за текущий месяц (скрыты)-->
<ul class="fonts gorisontalcolumnbanner nicecolor">
    <li class="prevblock">
        <ul class="fonts gorisontalcolumn">
            <li>Прибыль</li>
            <li th:text="${curentMouthSummPlus}"></li>
        </ul>
        <ul class="fonts gorisontalcolumn">
            <li>Расходы</li>
            <li th:text="${curentMouthSummMinus}"></li>
        </ul>
    </li>
    <li>
        <ul class="fonts">
            <li>Итого</li>
            <li class="bigfont" th:text="${curentMouthSumm}"></li>
        </ul>
    </li>
</ul>

<!--Календарь-->
<div id="calendar">
    <div class="fill"></div>
</div>

<!--Поиск по клиентам-->
<div class="homeInvertBlock">
    <div class="widgetRow">
        <input hidden name="id" type="text" id="clientId" class="inputenumberlement homeInpun" readonly>
        <input type="text" id="clientData" list="clients" class="inputenumberlement homeInpun">
        <button style="display: block" type="button" class="buttonform fonts homeInvertButton"
                onclick="getClientInfo('clientData')">Найти
        </button>
        <datalist id="clients"></datalist>
    </div>
</div>

<!--Доходы и расходы-->
<div class="widgetRowTogether" style="justify-content: space-evenly">
    <a href='/income' class="buttonform fonts transition" style="background-color: #f9f9f9; color: #514f4e">Доходы</a>
    <a href='/expenses' class="buttonform fonts transition" style="background-color: #f9f9f9; color: #514f4e">Расходы</a>
    <a href="/all_operations" class="buttonform fonts transition" style="width: 340px;">Все записи</a>
</div>

<!--Место для записей-->
<div id="notesPlace">
</div>

<!--История-->
<ul class="calcelementul">
    <p class="centertext fonts">История</p>
    <li class="calcelementhome fonts" th:each="el : ${lastPosts}">
        <div class="widgetRow">
            <div>
                <h4 class="leftmiddle blockmain vertcenter" th:if="${el.summary_type == 'Доход'}">
                    <img src="https://img.icons8.com/cotton/64/000000/deposit--v1.png"/>
                </h4>
                <h4 class="leftmiddle blockmain vertcenter" th:if="${el.summary_type == 'Расход'}">
                    <img src="https://img.icons8.com/cotton/64/000000/withdrawal--v1.png"/>
                </h4>
            </div>
            <div>
                <p class="blockV2 niceFont" style="margin: 0; width: 400px" th:text="${el.procedures}"></p>
                <p class="blockV2 niceFont smallfonts" th:text="${el.day}"></p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-end">
                <p class="blockV2 niceFont" th:text="${el.summary}"></p>
                <p class="blockV2 niceFont" style="margin: 10px">₽</p>
            </div>
        </div>

    </li>
    <div class="widgetRowTogether">
        <a href='/history' class="buttonform fonts transition" style="width: 320px; margin-left: 5%;">Вся история</a>
        <a href="/editposts" class="buttonform fonts transition">Изменить</a>
    </div>
</ul>

<!--Месяцы-->
<ul class="columnreverse">
    <li class="calcelementul" th:each="current : ${mouthCalendar}">
        <ul class=summanddate>
            <li class="smallmiddle blockmouth calcmargin middlefont" th:text="${current.mounthYear}">
            <li class="smallmiddle blockmouth calcmargin bigfont" th:text="${current.summary}">
        </ul>
    </li>
</ul>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="/airdatepicker/air-datepicker.js"></script>
<script type="text/javascript" src="/buttom/buttom.js"></script>
<script type="text/javascript" src="/fastclick.js"></script>
<script type="text/javascript" src="/loader/loader.js"></script>
<script>
    function getNotesOfCurrentDay() {
        $.ajax({
            type: 'GET',
            url: 'several_actual_operations',
            dataType: 'json',
            success: function (all_actual_operations) {
                var notesPlace = document.getElementById("notesPlace");


                var filler = document.createElement('div');
                filler.id = "fill";
                all_actual_operations.slice().reverse().forEach((note) => {
                    createOneNote(note, filler);
                })
                notesPlace.prepend(filler);
            }
        });
    }

    function createOneNote(info, prepear) {

        var note = document.createElement('ul');
        note.className = "calcelementul topmenu";

        var li = document.createElement('li');
        li.style = 'width: 100%'


        var menu = document.createElement('ul');
        menu.innerHTML = '<ul class="submenu widgetRowEvently">\n' +
            '                <li><button onclick="deleteOpeartion(' + info.id + ')" class="operationOptions"><img class="buttonSubMenu" src="images/iconfinder-trash.png"></button></li>\n' +
            '                <li><button onclick="getClientRequest(' + info.clientId + ')" class="operationOptions"><img class="buttonSubMenu" src="images/female.png"></button></li>\n' +
            '            </ul>'

        var header = document.createElement('div');
        header.className = "widgetRow";

        var datePlace = document.createElement('div');
        datePlace.className = 'dateBlock'

        var infoPlace = document.createElement('button');
        infoPlace.style = 'width: 53%;'
        infoPlace.className = 'operationOptions'

        var time = document.createElement('p');
        time.className = "dateTime newNoteFonts fontXxxLarge fonts";
        time.innerHTML = info.time;

        var date = document.createElement('p');
        date.className = "dateTime newNoteFonts fontXxxLarge fonts";
        date.style = 'color: #a9a9a9'
        date.innerHTML = getParseDate(info.day);

        var name = document.createElement('p');
        name.className = "blockV3 fontXxxLarge fonts";
        name.innerHTML = info.name;

        var medicamentJs = document.createElement('p');
        medicamentJs.className = "blockV3 niceFont fontXxLarge fonts";
        medicamentJs.innerHTML = info.medicament;

        var summuryJs = document.createElement('p');
        summuryJs.className = "blockV3 niceFont fontXxLarge fonts";
        summuryJs.innerHTML = info.summury + " ₽";

        datePlace.prepend(date, time)
        infoPlace.prepend(name, medicamentJs, summuryJs)
        header.prepend(datePlace, infoPlace);

        li.prepend(header, menu)
        // secondText.prepend(clientNameJs, medicamentJs);
        // thirdText.prepend(summuryJs);

        note.prepend(li);
        prepear.prepend(note);
    }

    function getParseDate(date) {
        var arr = [
            'Янв.',
            'Фев.',
            'Мар.',
            'Апр.',
            'Мая',
            'Июн.',
            'Июл.',
            'Авг.',
            'Сен.',
            'Окт.',
            'Ноя.',
            'Дек.'
        ];

        var d = date.split('T')[0]
        var day = d.split('-')[2]
        var mouth = arr[d.split('-')[1] - 1]
        return day + ' ' + mouth
    }

</script>
<script>
    var calendarData;
    var responseBody;
    var clientData;
    var clientId;

    $(document).ready(function () {
        FastClick.attach(document.body);

        getNotesOfCurrentDay();
        $.ajax({
            type: 'GET',
            url: '/newnote/create/select-client/all_my_clients',
            dataType: 'json',
            success: function (all_my_clients) {
                responseBody = all_my_clients;
                all_my_clients.forEach((item) => {
                    var option = document.createElement('option');
                    option.innerHTML = item.client.data;
                    document.getElementById('clients').prepend(option)
                })
            }
        });
        $.ajax({
            type: 'GET',
            url: '/newnote/currentday',
            dataType: 'json',
            success: function (currentday) {
                responseBody = currentday;
                // if (location.search.length != 0) {
                //     param = location.search.split('?')[1]
                // } else {
                //     var d = new Date
                //     var dToString = d.toISOString().split('-')
                //     param = dToString[0] + '-' + dToString[1] + '-' + dToString[2].split('T')[0]
                // }
                // getAllNotesOfDay(responseBody, param)

                new AirDatepicker('#calendar', {
                    inline: true,
                    classes: 'airdateclicker',
                    // isMobile: true,
                    // autoClose: true,
                    dateFormat: 'yyyy-MM-dd',
                    onRenderCell({date, cellType}) {
                        if (cellType === 'day') {
                            var dd = parseDate(date);

                            if (responseBody.filter(function (item) {
                                return item.date === dd;
                            })[0] !== undefined) {

                                var v = responseBody.filter(item => item.date === dd)[0]

                                var progress = ""
                                v.operationNotes.forEach(function () {
                                    progress = progress + "."
                                })
                                var p
                                if (dd.split("-")[2].length === 2) p = "<p style=\"margin: -2.5vmin\">" + dd.split("-")[2] + "</p>\n"
                                if (dd.split("-")[2] < 10) p = "<p style=\"margin: -2.5vmin\">" + dd.split("-")[2].slice(1) + "</p>\n"

                                return {
                                    html: "<svg class='progressbar' viewBox=\"0 0 100 100\" width=\"100\" height=\"100\">\n" +
                                        "  <defs>\n" +
                                        "    <path id=\"circle\"\n" +
                                        "      d=\"\n" +
                                        "        M 50, 50\n" +
                                        "        m -37, 0\n" +
                                        "        a 37,37 0 1,1 74,0\n" +
                                        "        a 37,37 0 1,1 -74,0\"/>\n" +
                                        "  </defs>\n" +
                                        "  <text font-size=\"130\">\n" +
                                        "    <textPath xlink:href=\"#circle\">" + progress + "</textPath>\n" + p +
                                        "  </text>\n" +
                                        "</svg>",
                                    disabled: false,
                                    classes: 'isNoteOne',
                                    attrs: {
                                        title: 'Cell is disabled'
                                    }
                                }
                            }
                        }
                    },
                    onSelect({date}) {var myDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
                        massiveDate = String(myDate).split("-");

                        var mounth;
                        var dayNumber;

                        if (massiveDate[1].length === 1) {
                            mounth = "0" + massiveDate[1]
                        } else {
                            mounth = massiveDate[1]
                        }

                        if (massiveDate[2].length === 1) {
                            dayNumber = "0" + massiveDate[2]
                        } else {
                            dayNumber = massiveDate[2]
                        }
                        selectDate = massiveDate[0] + "-" + mounth + "-" + dayNumber;
                        window.location.replace('/newnote?' + selectDate)
                    }
                });
            }
        });
        // $.ajax({
        //     type: 'GET',
        //     url: '/all_actual_operations',
        //     dataType: 'json',
        //     success: function (all_actual_operations) {
        //         calendarData = all_actual_operations.flatMap(item => item.day)
        //
        //         new AirDatepicker('#calendar', {
        //             inline: true,
        //             classes: 'airdateclicker',
        //             // isMobile: true,
        //             // autoClose: true,
        //             dateFormat: 'yyyy-MM-dd',
        //             onRenderCell({date, cellType}) {
        //                     if (cellType === 'day') {
        //                         var dd = parseDate(date);
        //
        //                         if (calendarData.filter(item => item === dd).length > 0 && calendarData.filter(item => item === dd).length < 4) {
        //                             return {
        //                                 html: "<div class='widgetRow'><p style='margin-top: 0.4em;'>" + date.getDate() + "</p><div class='widgetRow'>" + getCircles(calendarData.filter(item => item === dd).length) + "</div>",
        //                                 disabled: false,
        //                                 classes: 'isNoteOne',
        //                                 attrs: {
        //                                     title: 'Cell is disabled'
        //                                 }
        //                             }
        //                         }
        //                         if (calendarData.filter(item => item === dd).length > 3 && calendarData.filter(item => item === dd).length < 7) {
        //                             return {
        //                                 html: "<div class='widgetRow'><p style='margin-top: 0.4em;'>" + date.getDate() + "</p><div><div class='widgetRow'>" + getCircles(3) + "</div><div class='widgetRow'>" + getCircles(calendarData.filter(item => item === dd).length - 3) + "</div></div>",
        //                                 disabled: false,
        //                                 classes: 'isNoteOne',
        //                                 attrs: {
        //                                     title: 'Cell is disabled'
        //                                 }
        //                             }
        //                         }
        //                         if (calendarData.filter(item => item === dd).length > 6) {
        //                             return {
        //                                 html: "<div class='widgetRow'><p style='margin-top: 0.4em;'>" + date.getDate() + "</p><div><div class='bigCircle'><p class='textIntoCircle'>" + calendarData.filter(item => item === dd).length + "</p></div></div>",
        //                                 disabled: false,
        //                                 classes: 'isNoteOne',
        //                                 attrs: {
        //                                     title: 'Cell is disabled'
        //                                 }
        //                             }
        //                         }
        //                     }
        //                 // })
        //
        //                 // if (date.getDate() === 12) {
        //                 //     console.log(date.getFullYear() + "-" + date.getMonth() + "-" + date.getDate())
        //                 //     console.log(calendarData)
        //                 //     return {
        //                 //         disabled: true,
        //                 //         classes: 'disabled-class',
        //                 //         attrs: {
        //                 //             title: 'Cell is disabled'
        //                 //         }
        //                 //     }
        //                 // }
        //             },
        //             onSelect({date}) {
        //                 var myDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
        //                 massiveDate = String(myDate).split("-");
        //
        //                 var mounth;
        //                 var dayNumber;
        //
        //                 if (massiveDate[1].length === 1) {
        //                     mounth = "0" + massiveDate[1]
        //                 } else {
        //                     mounth = massiveDate[1]
        //                 }
        //
        //                 if (massiveDate[2].length === 1) {
        //                     dayNumber = "0" + massiveDate[2]
        //                 } else {
        //                     dayNumber = massiveDate[2]
        //                 }
        //                 selectDate = massiveDate[0] + "-" + mounth + "-" + dayNumber;
        //                 window.location.replace('/newnote?' + selectDate)
        //             }
        //         });
        //
        //     }
        // });
    });

    function getCircles(count) {
        var htmlText = ""
        console.log("12")

        for (let i = 1; i < count + 1; i++) {
            console.log("11")
            htmlText = htmlText + "<div class='circle'></div>"
        }
        return htmlText
    }

    function parseDate(date) {
        var myDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
        massiveDate = String(myDate).split("-");

        var mounth;
        var dayNumber;

        if (massiveDate[1].length === 1) {
            mounth = "0" + massiveDate[1]
        } else {
            mounth = massiveDate[1]
        }

        if (massiveDate[2].length === 1) {
            dayNumber = "0" + massiveDate[2]
        } else {
            dayNumber = massiveDate[2]
        }

        return massiveDate[0] + "-" + mounth + "-" + dayNumber;
    }

    function getClientInfo(elementId) {
        clientData = document.getElementById(elementId).value;
        clientId = responseBody.filter(function (item) {
            return item.client.data === clientData
        })[0].client.id
        getClientRequest(clientId)
    }

    function getClientRequest(clientId) {
        $.ajax({
            type: 'GET',
            url: '/client_info?id=' + clientId,
            dataType: 'json',
            data: clientId
        });
        window.location.href = "/client_info?id=" + clientId;
    }

    function deleteOpeartion(id) {
        if (confirm('Удалить запись?')) {
            $.ajax({
                type: 'POST',
                url: '/delete_operation',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({id}),
                success: function (delete_operation) {
                    alert(delete_operation.request)
                }
            });
            location.reload()
        } else {
            // Do nothing!
        }
    }

</script>
</html>