<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel="stylesheet" href="/landing.css">

</head>
<body class="body">
<div class="margin-top-reg">
    <ul class="pelement">
        <li>
            <a href="/home" class="a_buttonform-2 font-30 nonborder margin-top-60">Начать работу</a>
        </li>
        <li>
            <a href="/registration" class="a_buttonform-2 font-30 nonborder margin-top-60">Зарегистрироваться</a>
        </li>
    </ul>
</div>
</body>
</html>